.formulario{
    /* Sizes */
    width: 50%;
    padding: 15px;
    border-radius: 25px;

    /* Aligns */
    text-align: center;
    margin: 20px;
    transform: rotateY(0deg);

    /* Colors */
    background-color: rgba(0, 0, 0, 0.487);

    /* Times */
    transition: cubic-bezier(0.075, 0.82, 0.165, 1) 3s;
}

.container:hover .formulario{
    /* Aligns */
    transform: rotateY(360deg);
}

.titulo-label{
    /* Colors */
    color: #fff;

    /* Aligns */
    margin: 20px;
}

.alura-logo {
    /* Sizes */
    width: 40px;

    /* Aligns */
    position: absolute;
    top: 10px;
    right: 10px;
}

#resultado{
    /* Colors */
    color: #fff;
}
